<div class="flex-container">

  <% @albums.each do |album| %>

  <div class="card-product">
    <%# <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" /> %>
    <%= image_tag album["im:image"][0]["label"] %>
    <div class="card-product-infos">
      <%= album["im:name"]["label"] %>
            <br>
            <%= album["im:artist"]["label"] %>
            <br>
            <%= album["category"]["attributes"]["term"] %>
    </div>
  </div>

  <% end %>
</div>
