<div class="flex-container">

  <% @albums.each do |album| %>

  <div class="card-product">
    <%= image_tag album["im:image"][0]["label"] %>
    <div class="card-product-infos">
      <strong><%= album["im:name"]["label"] %></strong>
      <br>
      <%= album["im:artist"]["label"] %>
      <br>
      <%= album["category"]["attributes"]["term"] %>
    </div>
  </div>

  <% end %>
</div>
