//Colors
  $color-one: #1F2124;
  $color-two: #383A3F;
  $color-three: #F68657;
  $color-four: #F6B352;

.card-product {
  overflow: hidden;
  height: 100px;
  background: $color-one;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  width: 30%;
  margin-top: 10px;
}

.card-product img {
  margin-left: 10px;
}

.card-product p {
  font-size: 12px;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 0px;
}

.card-product h5 {
  font-size: 15px;
  margin-bottom: 10px;
  margin-top: 0px;
  color: $color-three;
}
.card-product .card-product-infos {
  padding: 16px;
}

