//Colors
  $color-one: #1F2124;
  $color-two: #383A3F;
  $color-three: #F68657;
  $color-four: #F6B352;

h1 {
  text-align: center;
  color: white;
}

body {
  background: $color-two;
  font-family: "Varela Round", sans-serif;
}